@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/struckaxiom.png);
    background-position: 100% 100%;
    background-repeat: repeat;
}



.title {
    background-image: url(../public/gradient.png);
    background-attachment: fixed;
    background-position: 40% 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  @font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
        url('/public/fonts/Satoshi-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Black.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
        url('/public/fonts/Satoshi-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-LightItalic.woff2') format('woff2'),
        url('/public/fonts/Satoshi-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Light.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Italic.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
        url('/public/fonts/Satoshi-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Medium.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/public/fonts/Satoshi-Regular.woff2') format('woff2'),
        url('/public/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



 